<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!-- 1. Изолируем глобальный кэш. Заставляем dotnet распаковывать пакеты прямо в папку проекта (в папку .packages), а не брать из кэша юзера -->
  <config>
    <add key="globalPackagesFolder" value=".\.packages" />
  </config>

  <!-- 2. Отключаем скрытые папки Visual Studio (Fallback Folders) -->
  <fallbackPackageFolders>
    <clear />
  </fallbackPackageFolders>

  <!-- 3. Настраиваем источники пакетов -->
  <packageSources>
    <!-- Отключаем nuget.org и все остальные интернет-источники -->
    <clear />
    
    <!-- Подключаем вашу локальную папку. 
         (Лучше использовать короткий key, а длинное описание оставить в комментарии) -->
    <!-- Пакеты от проекта VUCAPP. Если ошибка - перейдите в C:\vucapp\nugets и запустите InstallNugets.bat -->
    <add key="VucappLocal" value="C:\vucapp\nugets" />
  </packageSources>

</configuration>
